<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="WinConnString" connectionString="Data Source=.;Initial Catalog=ASPNETDB;Persist Security Info=True;User ID=usrw;Password=usrw"
   providerName="System.Data.SqlClient" />
  <add name="LabExtimConnectionString" connectionString="Data Source=.;Initial Catalog=LabExtim;Persist Security Info=True;User ID=usrw;Password=usrw"
   providerName="System.Data.SqlClient" />
  <add name="WinMembership.Properties.Settings.LabExtimConnectionString"
   connectionString="Data Source=.;Initial Catalog=LabExtim;Persist Security Info=True;User ID=usrw;Password=usrw"
   providerName="System.Data.SqlClient" />
  <add name="WinMembership.Properties.Settings.LebExtimConnectionString"
   connectionString="Data Source=COMBINARIO-NIK\SQL2008R2;Initial Catalog=LabExtim;Persist Security Info=True;User ID=sa"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<membership defaultProvider="WinConnProvider">
			<providers>
				<add name="WinConnProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="WinConnString" applicationName="MyMembership" requiresQuestionAndAnswer="false"/>
			</providers>
		</membership>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
