<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.50508" targetFramework="net40" />
  <package id="Crystal.Reports.Essentials" version="13.0.2000.0" targetFramework="net35" />
  <package id="DynamicData.Extensions" version="1.1" targetFramework="net40" />
  <package id="NotAClue.DynamicData.AutocompleteForeignKey" version="1.1" targetFramework="net40" />
  <package id="NotAClue.DynamicData.CustomFilters" version="1.2.1.2" targetFramework="net40" />
  <package id="NotAClue.DynamicData.Extensions" version="1.2.1.1" targetFramework="net40" />
</packages>