<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ExportPath" value="Export/" />
    <add key="UnmanagedQuotationDetailTypeCode" value="2" />
    <add key="UnmanagedQuotationDetailItemTypeCode" value="1" />
    <add key="LabextimOperatorUrl" value="http://localhost:4260" />

    <add key="ftpBaseUrl" value="ftp://192.168.2.55" />
    <add key="ftpUsername" value="zechini" />
    <add key="ftpPassword" value="CartoFTP23!" />
    <add key="ftpInputPath" value="/" />
    <add key="ftpOutputPath" value="/" />


    <add key="locRootPath" value="E:\ftpDATANEW" />
    <add key="locInputPath" value="in" />
    <add key="locOutputPath" value="out" />
    <add key="locErrorPath" value="error" />
    <add key="locArchInPath" value="arch_in" />
    <add key="locArchOutPath" value="arch_out" />

    <add key="BOBST1_IPAddressAndPort" value="192.168.2.30:85" />
    <add key="SilkFoil1_IPAddressAndRackAndSlotAndDBAndSize" value="192.168.2.245|0|0|2000|142" />
    <!--<add key="Tablets_IPAddresses" value="192.168.2.100/30|192.168.2.104/29|192.168.2.112/28|192.168.2.128/28|192.168.2.144/30|192.168.2.148/31|192.168.2.150/32"/>-->
    <add key="Tablets_IPAddresses" value="192.168.250/30"/>

  </appSettings>
  <connectionStrings>

    <!--<add name="GestConnectionString" connectionString="Data Source=DATANEW.LABE.LOCAL;Initial Catalog=Labe;Persist Security Info=True;User ID=sa;Password=7800500+" providerName="System.Data.SqlClient" />
    <add name="GestCARTOLABEConnectionString" connectionString="Data Source=DATANEW.LABE.LOCAL;Initial Catalog=Cartolabe;Persist Security Info=True;User ID=sa;Password=7800500+" providerName="System.Data.SqlClient" />
    <add name="MemberShipConnString" connectionString="Data Source=DATANEW.LABE.LOCAL;Initial Catalog=ASPNETDB;Persist Security Info=True;User ID=sa;Password=7800500+" providerName="System.Data.SqlClient" />
    <add name="LabExtimConnectionString" connectionString="Data Source=DATANEW.LABE.LOCAL;Initial Catalog=LabExtim;Persist Security Info=True;User ID=sa;Password=7800500+" providerName="System.Data.SqlClient" />
    <add name="EuroProgettiConnectionString" connectionString="Data Source=192.168.2.193;Initial Catalog=Sql_Ep;Persist Security Info=True;User ID=Cartolabe;Password=P@ssword1" providerName="System.Data.SqlClient"/>-->
    

    <!--<add name="GestConnectionString" connectionString="Data Source=.;Initial Catalog=Labe;Persist Security Info=True;User ID=usrw;Password=usrw" providerName="System.Data.SqlClient" />
    <add name="GestCARTOLABEConnectionString" connectionString="Data Source=.;Initial Catalog=Cartolabe;Persist Security Info=True;User ID=usrw;Password=usrw" providerName="System.Data.SqlClient" />
    <add name="MemberShipConnString" connectionString="Data Source=.;Initial Catalog=ASPNETDB;Persist Security Info=True;User ID=usrw;Password=usrw" providerName="System.Data.SqlClient" />
    <add name="LabExtimConnectionString" connectionString="Data Source=.;Initial Catalog=LabExtim;Persist Security Info=True;User ID=usrw;Password=usrw" providerName="System.Data.SqlClient" />
    <add name="EuroProgettiConnectionString" connectionString="Data Source=.;Initial Catalog=Sql_Ep;Persist Security Info=True;User ID=Cartolabe;Password=P@ssword1" providerName="System.Data.SqlClient"/>-->

    <add name="GestConnectionString" connectionString="Data Source=10.1.4.112,1433;Initial Catalog=Labe;Persist Security Info=True;User ID=usrw;Password=usrw" providerName="System.Data.SqlClient" />
    <add name="GestCARTOLABEConnectionString" connectionString="Data Source=10.1.4.112,1433;Initial Catalog=Cartolabe;Persist Security Info=True;User ID=usrw;Password=usrw" providerName="System.Data.SqlClient" />
    <add name="MemberShipConnString" connectionString="Data Source=10.1.4.112,1433;Initial Catalog=ASPNETDB;Persist Security Info=True;User ID=usrw;Password=usrw" providerName="System.Data.SqlClient" />
    <add name="LabExtimConnectionString" connectionString="Data Source=10.1.4.112,1433;Initial Catalog=LabExtim;Persist Security Info=True;User ID=usrw;Password=usrw" providerName="System.Data.SqlClient" />
    <add name="EuroProgettiConnectionString" connectionString="Data Source=10.1.4.112,1433;Initial Catalog=Sql_Ep;Persist Security Info=True;User ID=Cartolabe;Password=P@ssword1" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.net> 
    <mailSettings>
      <smtp from="info@codeforbusiness.it">
        <network host="smtp.codeforbusiness.it" port="587" userName="info@codeforbusiness.it" password="robycana@1965" />
      </smtp>
    </mailSettings>
  </system.net>
  <location path="Site.css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomControls/SearchEngine.css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="DynamicData">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="SessionKeeper.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <httpRuntime executionTimeout="100000" maxRequestLength="214748364" />
    <siteMap>
      <providers>
        <add name="Workstation" type="System.Web.XmlSiteMapProvider" siteMapFile="~/workstation.sitemap" />
        <add name="Tablet" type="System.Web.XmlSiteMapProvider" siteMapFile="~/tablet.sitemap" />
        <add name="Web" type="System.Web.XmlSiteMapProvider" siteMapFile="~/workstation.sitemap" />
      </providers>
    </siteMap>
    <!--<identity impersonate="true" userName="YourAccount" password="YourStrongPassword" />-->
    <sessionState timeout="240" regenerateExpiredSessionId="true" cookieless="false" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="Forms">
      <forms name="labextim" loginUrl="login.aspx" timeout="240" />
    </authentication>
    <profile>
      <properties>
        <add name="Firstname" />
        <add name="Lastname" />
        <add name="Age" type="System.Int16" />
      </properties>
    </profile>
    <!--<membership defaultProvider="MyMembershipProvider">
      <providers>
        -->
    <!--<add connectionStringName="MemberShipConnString" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="MyMembership" requiresUniqueEmail="true" passwordFormat="Hashed" name="MyMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />-->
    <!--
        <add connectionStringName="MemberShipConnString" applicationName="MyMembership" name="MyMembershipProvider" requiresQuestionAndAnswer="false" enablePasswordRetrieval="false" enablePasswordReset="false"  type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>-->

    <membership defaultProvider="MyMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add
          name="MyMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="MemberShipConnString"
          applicationName="MyMembership"
          enablePasswordRetrieval="false"
          enablePasswordReset="false"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false"
          passwordFormat="Hashed" />
      </providers>
    </membership>


    <httpHandlers>

      <!--<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler" />-->
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" validate="false" />-->
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler" preCondition="integratedMode" />-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>

    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".aspx" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>