@model DLLabExtim.VW_ProductionExtMP

@{
    ViewBag.Title = "Calendario operazioni di reparto";
}

@{
    <table class="testata_lista">
        <tr>
            <td>
                Operatore : @ViewBag.UserName
            </td>
            <td>
                
            </td>
        </tr>
    </table>
}

@Html.Action("ProductionMPSViewPartial")

<table class="testata_lista">
    <tr>
        <td class="center">
           
        </td>
    </tr>
</table>
